ul li.player{
  width: 100%;
  border: solid 1px #64edcb;
  margin-bottom: 10px;
  height: 22px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.6);
  font-size: 20px;
  font-family: cursive;
}